
.vscode/launch.json
.vscode/tasks.json
bin/Debug/net6.0/Technical-Project-Assignment-Calculator.deps.json
bin/Debug/net6.0/Technical-Project-Assignment-Calculator.dll
bin/Debug/net6.0/Technical-Project-Assignment-Calculator.exe
bin/Debug/net6.0/Technical-Project-Assignment-Calculator.pdb
bin/Debug/net6.0/Technical-Project-Assignment-Calculator.runtimeconfig.json
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/ref/Technical-Project-Assignment-Calculator.dll
obj/Debug/net6.0/refint/Technical-Project-Assignment-Calculator.dll
obj/Debug/net6.0/Technical-Project-Assignment-Calculator.AssemblyInfo.cs
obj/Debug/net6.0/Technical-Project-Assignment-Calculator.AssemblyInfoInputs.cache
obj/Debug/net6.0/Technical-Project-Assignment-Calculator.assets.cache
obj/Debug/net6.0/Technical-Project-Assignment-Calculator.csproj.AssemblyReference.cache
obj/Debug/net6.0/Technical-Project-Assignment-Calculator.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Technical-Project-Assignment-Calculator.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Technical-Project-Assignment-Calculator.dll
obj/Debug/net6.0/Technical-Project-Assignment-Calculator.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Technical-Project-Assignment-Calculator.genruntimeconfig.cache
obj/Debug/net6.0/Technical-Project-Assignment-Calculator.GlobalUsings.g.cs
obj/Debug/net6.0/Technical-Project-Assignment-Calculator.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/Technical-Project-Assignment-Calculator.csproj.nuget.dgspec.json
obj/Technical-Project-Assignment-Calculator.csproj.nuget.g.props
obj/Technical-Project-Assignment-Calculator.csproj.nuget.g.targets
